{% load static %}

<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <title>SALESEASY</title>
  <link rel="stylesheet" href="{% static 'home/css/w3.css' %}">
  <link rel="stylesheet" href="{% static 'home/css/demo-styles.css' %}" />
  <link rel="stylesheet" href="https://i.icomoon.io/public/temp/c754476960/saleseasy/style.css">
  <script src="{% static 'home/js/modernizr-1.5.min.js' %}"></script>

</head>

<body>

 <div class="w3-bar w3-section w3-black w3-card-4">
    <a class="w3-bar-item w3-button w3-green w3-hover-red w3-padding-16" href="/">Home</a>
    <a class="w3-bar-item w3-button w3-hover-red w3-padding-16" href="/accounts/login/" target="_blank">Distributor</a>
    <a class="w3-bar-item w3-button w3-hover-red w3-padding-16" href="/accounts/login/" target="_blank">Retailer</a>
    <a class="w3-bar-item w3-button w3-hover-red w3-padding-16" href="/accounts/login/" target="_blank">Wholesaler</a>
    <a class="w3-bar-item w3-button w3-hover-red w3-padding-16" href="http://www.mtspl.co.in/contact-us/" target="_blank">Contact Us</a>
  </div>
<div class="demo-wrapper">

  <div class="s-page random-restored-page">
    <h2 class="page-title">SALES EASY</h2>
     <div class="page-content">
       <ul>
         <li><a href="/partner/order/" target="_blank">Current Orders</a></li>
         <li><a href="/partner/order/" target="_blank">All Orders</a></li>
       </ul>
     </div>
    <div class="close-button s-close-button">x</div>
  </div>
  <div class="s-page custom-page">
    <h2 class="page-title">Thank You!</h2>
    <div class="close-button s-close-button">x</div>
  </div>
  <div class="r-page random-r-page">

    <div class="page-content">
      <h2 class="page-title">SALES EASY</h2>
      <p>
        1. 10% discount on all Order
      </p>
    </div>

    <div class="close-button r-close-button">x</div>
  </div>
  <div class="t-page random-t-page">

    <div class="page-content">
      <h2 class="page-title">SALES EASY</h2>
                <ul>
                  <li><strong>Total Distributors:</strong> {{ num_distributors }}</li>
                  <li><strong>Total Retailers:</strong> {{ num_retailers }}</li>
                </ul>
    </div>
    <div class="close-button r-close-button">x</div>
  </div>
  <div class="dashboard clearfix">
    <ul class="tiles">
      <div class="col1 clearfix">
        <li class="tile tile-big tile-1 slideTextUp" data-page-type="r-page" data-page-name="random-r-page">
          <div><p>Deal's for the Retailer's..</p></div>
          <div><p>View all Deal's</p></div>
        </li>
        <li class="tile tile-small tile tile-2 slideTextRight" data-page-type="s-page" data-page-name ="random-restored-page">
          <div><p class="icon-arrow-right"></p></div>
          <div><p>Chek your all Orders...</p></div>
        </li>
        <li class="tile tile-small last tile-3" data-page-type="r-page" data-page-name="random-r-page">
            <a href="/partner/order/" target="_blank"><p class="icon-credit-card" title="Check your Pending Payment ?"></p>
            Payments
            </a>
        </li>
        <li class="tile tile-big tile-4 fig-tile" data-page-type="r-page" data-page-name="random-r-page">
          <figure>
            <img src="{% static 'home/images/blue.jpg' %}" />
            <figcaption class="tile-caption caption-left">
               <div class="product"> <p> <a href="/partner/product/" target="_blank"> Check your all Products </a> </p></div>
            </figcaption>
          </figure>
        </li>
      </div>

      <div class="col2 clearfix">
        <li class="tile tile-big tile-5" data-page-type="r-page" data-page-name="random-r-page">
          <div class="social"><p><span class="icon-facebook"></span><a hre="">facebook</a></p></div>
        </li>
        <li class="tile tile-big tile-6 slideTextLeft" data-page-type="r-page" data-page-name="random-r-page">
          <div><p><span class="icon-skype"></span>Skype</p></div>
          <div><p>Make a Call</p></div>
        </li>
        <li class="tile tile-small tile-7 rotate3d rotate3dX" data-page-type="r-page" data-page-name="random-r-page">
          <div class="faces">
            <div class="front"><span class="icon-Youtube"></span></div>
            <div class="back"><p>Launch Picassa</p></div>
          </div>
        </li>
        <li class="tile tile-small last tile-8 rotate3d rotate3dY" data-page-type="r-page" data-page-name="random-r-page">
          <div class="faces">
            <div class="front"><span class="icon-picassa"></span></div>
            <div class="back"><p>Launch Picassa</p></div>
          </div>
        </li>
      </div>

      <div class="col3 clearfix">
        <li class="tile tile-2xbig tile-9 fig-tile" data-page-type="t-page" data-page-name="random-t-page">
          <figure>
            <img src="{% static 'home/images/summer.jpg' %}" />
            <figcaption class="tile-caption caption-bottom">
              <p>Saleseasy has the following partner counts:</p>
                <ul>
                  <li><strong>Distributors:</strong> {{ num_distributors }}</li>
                  <li><strong>Retailers:</strong> {{ num_retailers }}</li>
                </ul>
            </figure>
        </li>
        <li class="tile tile-big tile-10" data-page-type="s-page" data-page-name="custom-page">
          <div><p style="text-align:center;">Momentous Technosolutions Pvt Ltd</p>
          </div>
        </li>
      </div>
    </ul>
  </div><!--end dashboard-->

</div>
  <script src="{% static 'home/js/jquery-1.8.2.min.js' %}"></script>
  <script src="{% static 'home/js/scripts.js' %}"></script>

</body>
</html>
